In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
fd=pd.read_csv('status.csv') # pandas helps to read any type of file like csv,sql etc
fd.head()

          day  temp  event
0  01-02-2023    33  sunny
1  02-02-2024    32  sunny
2  03-02-2025    33  sunny
3  04-02-2023    26  rainy
4  05-02-2023    19   snow

In [12]:
row,col=fd.shape
row

6

In [13]:
fd.index

RangeIndex(start=0, stop=6, step=1)

In [23]:
fd[0:2] #select first 0 to 2 row

          day  temp  event
0  01-02-2023    33  sunny
1  02-02-2024    32  sunny

In [24]:
fd.head()

          day  temp  event
0  01-02-2023    33  sunny
1  02-02-2024    32  sunny
2  03-02-2025    33  sunny
3  04-02-2023    26  rainy
4  05-02-2023    19   snow

In [25]:
fd.tail()

          day  temp  event
1  02-02-2024    32  sunny
2  03-02-2025    33  sunny
3  04-02-2023    26  rainy
4  05-02-2023    19   snow
5  06-02-2023    20  rainy

In [29]:
fd.columns

Index(['day', 'temp', 'event'], dtype='object')

In [32]:
fd.day # accessing columns

0    01-02-2023
1    02-02-2024
2    03-02-2025
3    04-02-2023
4    05-02-2023
5    06-02-2023
Name: day, dtype: object

In [33]:
fd['day']

0    01-02-2023
1    02-02-2024
2    03-02-2025
3    04-02-2023
4    05-02-2023
5    06-02-2023
Name: day, dtype: object

In [34]:
fd[['temp','day']]

   temp         day
0    33  01-02-2023
1    32  02-02-2024
2    33  03-02-2025
3    26  04-02-2023
4    19  05-02-2023
5    20  06-02-2023

In [35]:
fd.temp.max()

33

In [41]:
print(fd['day'][fd.temp>32])  # applying the condition

0    01-02-2023
2    03-02-2025
Name: day, dtype: object

In [43]:
fd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   day     6 non-null      object
 1   temp    6 non-null      int64
 2   event   6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [44]:
fd

          day  temp  event
0  01-02-2023    33  sunny
1  02-02-2024    32  sunny
2  03-02-2025    33  sunny
3  04-02-2023    26  rainy
4  05-02-2023    19   snow
5  06-02-2023    20  rainy

In [46]:
fd.set_index('temp',inplace=True)
fd

             day  event
temp
33    01-02-2023  sunny
32    02-02-2024  sunny
33    03-02-2025  sunny
26    04-02-2023  rainy
19    05-02-2023   snow
20    06-02-2023  rainy

In [47]:
fd.reset_index('temp',inplace=True)

In [48]:
fd

   temp         day  event
0    33  01-02-2023  sunny
1    32  02-02-2024  sunny
2    33  03-02-2025  sunny
3    26  04-02-2023  rainy
4    19  05-02-2023   snow
5    20  06-02-2023  rainy

In [61]:
fd.set_index('day',inplace=True)
fd

            temp  event
day
01-02-2023    33  sunny
02-02-2024    32  sunny
03-02-2025    33  sunny
04-02-2023    26  rainy
05-02-2023    19   snow
06-02-2023    20  rainy

In [62]:
fd.loc['05-02-2023']

temp       19
event    snow
Name: 05-02-2023, dtype: object